---
title: Overview
keywords: Overview
summary: "We offer various payment products, from Direct Debits and Credit Transfers to E-Mandates, Open Banking and Account Holder Verification. Please get in touch to arrange access to our Sandbox or select an option from the items below to discover more; check out the documentation or jump straight to the Swagger."
sidebar: productOverview_sidebar
toc: false
permalink: prod_overview.html
folder: prodOverview
---


<div class="row">
        <div class="col-lg-12">


  <h2 class="page-header" id ="SR">Sandbox Access</h2>

<p>If you want to try our APIs, please complete this online form: <a href='https://www.nuapay.com/request-api-sandbox/' target = '_blank'>Sandbox access</a>.
A member of our Client Support team will review your required products and get you all set up as soon as possible.</p>

<p>
If you want to get started right away and are interested in trying our <strong>Open Banking PISP</strong> product, try our self-service signup:

<a href='https://sandbox.nuapay.com/onboarding/web/signup' target = '_blank'>Self-Service Sandbox access</a>. </p>

Currently only the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.ob_basic_pisp}}">Open Banking Basic PISP</a> product is available for self-service onboarding.

{% include note.html content="The Nuapay Console/Developer Dashboard allows you to configure your settings. See the <a href='prod_consoleoverview.html'> Nuapay Console</a> for more information." %}




{% include tip.html content="Once you have completed your Sandbox testing and want to move to the Live environment, please ensure that you have a good understanding of our approach to <a href='prod_versioning.html'> Versioning and Backward Compatibility</a>" %}




<h2 class="page-header" id="SR">General Overview</h2>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="tok_tokenmgmt.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fas fa-ticket fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Tokens</h4>
                <p>Learn how to use tokens to authorize your requests.</p>
                <a href="tok_tokenmgmt.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="np_landing_page.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fas fa-receipt fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Direct Debits</h4>
                <p>Create your DD payments and schedules.</p>
                <a href="np_landing_page.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="em_landing_page.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-signature fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Electronic Mandates</h4>
                <p>Create e-mandates and contracts.</p>
                <a href="em_landing_page.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="np_ctoverview.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-money-bill-transfer fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Credit Transfers</h4>
                <p>Issue payments to your payees using our Powerful CT APIs.</p>
                <a href="np_ctoverview.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    
</div>
    
<div class="row">
    
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="fm_overview.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-lines fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>File Management</h4>
                <p>Manage your CT and DD payment file uploads via REST.</p>
                <a href="fm_overview.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="np_accountoverview.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-piggy-bank fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Accounts</h4>
                <p>Manage your account: view your balance, find transactions, etc.</p>
                <a href="np_accountoverview.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="ob_landing_page.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-door-open fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Open Banking</h4>
                <p>Learn about our Open Banking Payment and Account services.</p>
                <a href="ob_landing_page.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="ver_landing_page.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-check fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>A/C Verification</h4>
                <p>Verify account ownership before making a payment.</p>
                <a href="ver_landing_page.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    
</div>

<div class="row">
    
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="wh_landing_page.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Webhooks</h4>
                <p>What just happened? Get notified when specific events occur.</p>
                <a href="wh_landing_page.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="np_secoverview.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-house-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Security</h4>
                <p>Get details on SSL, MTLS, JWS, and certificate APIs.</p>
                <a href="np_secoverview.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>       

    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <a href="np_resrcesoverview.html">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tools fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </a>
            <div class="panel-body">
                <h4>Resources</h4>
                <p>Test IBANs, Non-processing dates, Reason Codes, etc.</p>
                <a href="np_resrcesoverview.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>      

 <!-- Service Tabs -->
 <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" id ="SR">Popular Swagger Links</h2>
    </div>
    <div class="col-lg-12">

        <ul id="myTab" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-money-bill-wave"></i> Direct Debits</a>
            </li>
            <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-barcode"></i> Electronic Mandates</a>
            </li>
            <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-stopwatch"></i> Credit Transfers</a>
            </li>
            <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-lock-open"></i> Open Banking </a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="service-one">
                <h4>Direct Debits</h4>
                <p>Nuapay allows you to process Direct Debit payments.</p>
                <p>With Direct Debit you are the payee; you can initiate pull payments as agreed with your payers. </p>
                <p><a href="https://github.com/sentenial/nuapay-swagger" target = "_blank"><i class="fa fa-cogs"></i> Swagger Reference</a></p>
                <p><a href="https://github.com/sentenial/nuapay-swagger/blob/master/nuapay-swagger.yaml" target = "_blank"><i class="fa fa-file-import"></i> YAML</a></p>
                
            </div>
            <div class="tab-pane fade" id="service-two">
                <h4>E-Mandates</h4>
                <p>We have designed E-Mandates to be easy-to-use, Developer-friendly and customisable so that it can be integrated into your business, regardless of how your business is set up.</p>
                <p>See the Implementation Overview section for more details </p>
                <a href="https://github.com/sentenial/emandates-swagger" target = "_blank"><i class="fa fa-cogs"></i> Swagger Reference</a>
                <p><a href="https://github.com/sentenial/emandates-swagger/blob/master/emandates-swagger.yaml" target = "_blank"><i class="fa fa-file-import"></i> YAML</a></p>
            </div>
            <div class="tab-pane fade" id="service-three">
                <h4>Credit Transfers</h4>
                <p>It is possible to initiate Credit Transfer both standard and instant (in GBP via Faster Payments). </p>
                <p>CTs may be used in two modes, where you act as a:
                     <li>Receiver of inbound Payments.</li>
                    <li> Disburser of outbound Payments.</li>    </p>
                <a href="https://github.com/sentenial/credit-transfers" target = "_new"><i class="fa fa-cogs"></i> Swagger Reference</a>
                <p><a href="https://github.com/sentenial/credit-transfers/blob/main/v2-credit-transfers.yaml" target = "_blank"><i class="fa fa-file-import"></i> YAML (v2 - Asynchronous)</a></p>
                <p><a href="https://github.com/sentenial/credit-transfers/blob/main/v1-credit-transfers.yaml" target = "_blank"><i class="fa fa-file-import"></i> YAML (v1 - Synchronous)</a></p>
            </div>
            <div class="tab-pane fade" id="service-four">
                <h4>Open Banking</h4>
                <p>Acting as a Payment Initiation Service Provider, Nuapay allows you to offer your users the option to pay via their bank account. For your users that means that they don't need to use a credit card and because they are verifying their credentials on their own online banking portal, they can be confident that their personal data is secure. </p>
                <p>For you, the merchant, no chargebacks are possible and funds are credited to your account in real time (via Faster Payments). Cheaper than card payments, we really believe that Open Banking is a game changer for any business handling online payments</p>
                <p>As per Article 38 of the supplementing Directive (EU) 2015/2366 of the European Parliament and of the Council with regard to regulatory technical standards for strong customer authentication and common and secure open standards of communication, Nuapay as a Payment Institute has published its Open API/Swagger specification to enable TPPs to access Nuapay AIS and PIS services. For more information, please contact <a href=mailto:support@nuapay.com>support@nuapay.com</a></p>
                <a href="https://github.com/sentenial/open-banking-swagger" target = "_blank"><i class="fa fa-cogs"></i> Swagger Reference</a>
                <p><a href="https://github.com/sentenial/open-banking-swagger/blob/master/tpp-swagger.yaml" target = "_blank"><i class="fa fa-file-import"></i> YAML</a></p>
            </div>            
        </div>

    </div>
</div>
