## Authorisation 

An API Key or an OAuth token uniquely identifies you on Nuapay and is required to allow you to use our API services.

For more on API Keys and OAuth, see the <a href="ob_generalrules.html">API Basics</a> section.


## Calling the Payment Endpoint

The Open Banking payment endpoint returns a payment identifier on a successful invocation.

To generate a payment ID:

1. Generate a server-to-server call to `/payments`.
1. Ensure that you have referenced your API Key or OAuth token in the request.
1. The ``/payments`` service is described in <a href="ob_createpayment.html">Create Payment</a>.
1. In the response, you will need to store the `userInterfacePaymentId`.


## Adding the CSS and JS File References

On your payment page you will need to add the following:

**For Sandbox**

````
<script src="https://sandbox.nuapay.com/tpp-ui/js/nuapay-open-banking.js"></script>
<link rel="stylesheet" type="text/css" href="https://sandbox.nuapay.com/tpp-ui/css/nuapay-open-banking.css" />
````

**For Production**

````
<script src="https://api.nuapay.com/tpp-ui/js/nuapay-open-banking.js"></script>
<link rel="stylesheet" type="text/css" href="https://api.nuapay.com/tpp-ui/css/nuapay-open-banking.css" />
````

## Adding The Open Banking Pay Button

At this point you have:

* Added the JS and CSS links to your payment page.
* Retrieved the `userInterfacePaymentId` (via the [Create Payment](ob_createpayment.html) service). 


To enable the <span class="label label-info">PAY</span> button you will need to add an ``onclick`` event. See the example below:

````
<a class="btn btn-primary" href="#" onclick="NuapayOpenBanking.showUI(‘772d0ef5-596b-43de-a6a0-832c9ab7a7a5’;‘https://sandbox.nuapay.com/tpp-ui/’);">Pay Now</a>

````

|In the NuapayOpenBanking.showUI(**id**, url) function, the **id** is the `userInterfacePaymentId`|

In this example, when the user clicks this button: 
* The Select Banks pop-up for the identifier ``772d0ef5-596b-43de-a6a0-832c9ab7a7a5`` is displayed.
* The <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> would be directed to the Nuapay TPP (Sandbox) Bank Selection screen located at ``https://sandbox.nuapay.com/tpp-ui/``.

Note that you will need to specify the correct URL based on whether you are testing or working in Production:

|SANDBOX|https://sandbox.nuapay.com/tpp-ui/|
|PRODUCTION| https://api.nuapay.com/tpp-ui/|

{% include tip.html content="To avoid any issues with **pop-up blockers**, we recommend that you request your users to: <br/>
<br/>1. Click a button to pay by Open Banking (allowing you to retrieve the payment identifier) 
<br/>2. Click a second button to choose a bank (launching the pop-up with the payment identifier retrieved in step 1)
<br/><br/>Because launching the Select Bank screen in step 2 is a user-initiated action, your users will not be prompted to enable pop-ups.
" %}

## Adding a Listener

Once you have successfully added the <span class="label label-info">PAY</span> button to your site you will next need to handle when the pop-up window is closed.
In a successful flow: 

* The pop-up will be closed by users after they confirm the payment with their bank and are redirected to your confirmation message. 
* Users may also choose to cancel out of the flow at any point and close the pop-up window without completing the payment.


{% include note.html content="On closing of the pop-up window you must make a server-to-server call to retrieve the payment status. See [Payment Statuses](ob_paymentstatuses.html) for more on the possible statuses." %}

To handle the pop-up close event:

* You will need to add a Listener to your parent Payment Page window to <i>listen</i> for the close event.
* For `userInterfacePaymentId` = `772d0ef5-596b-43de-a6a0-832c9ab7a7a5`, this would look like this:

|`{source: "NUAPAY_OPEN_BANKING", status: "CLOSED", paymentId: "dmq8nexom", userInterfacePaymentId: "772d0ef5-596b-43de-a6a0-832c9ab7a7a5"}`|



A Sample Listener is provided below: 


````
<script>

var listener = function(event) {
    if(event.data.status=="CLOSED") {
        var url = "/merchant/status?id=" + event.data.userInterfacePaymentId;
        $.ajax({
          url: url,
          success: function(data){
            if (data.status == "COMPLETE") {
                location.replace("./shoppaid");
            } else {
                location.replace("./shopfailed");
            }
          },
          error: function(){
            location.replace("./error");
          }
        });
    }
}

window.addEventListener("message",listener,false);

</script>
````

The `var url = "/merchant/status?id=" +` must be appended with one of the following:

* event.data.userInterfacePaymentId
* event.data.paymentId

{% include tip.html content="For new integrations, we recommend that you use the **event.data.userInterfacePaymentId**; for existing users, who have already applied the **event.data.paymentId**, this may continue to be used." %}


The payment identifier (either the `userInterfacePaymentId` or the `paymentId`) must be: 
* Stored in a session or in a Databases, for example.
* Posted back to your payment page. 

To retrieve the payment status:

* (For **userInterfacePaymentId**): call [List Payments](ob_listpayments.html) and filter on the `userInterfacePaymentId`.
* (For **paymentId**): call [Retrieve Payment](ob_retrievepayment.html) using the `paymentId` (associated with the `userInterfacePaymentId`). 

## The End-User Experience

Once configured, your users' interaction with Open Banking payments will be similar to the following for a Desktop user (for users on mobile devices, the screens vary from the sample presented below):

The PSU (i.e. the end user) will select the required goods or services on your merchant site and:

1. Select **Nuapay Open Banking** as the payment method.
1. Click **Pay**.
1. A pop-up window overlayed on the calling payment page is generated. This is rendered through Nuapay's TPP application:<br/>
<img src = "images/ob_select_bnk.png">
1. If required, the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> can click the order details icon to expand and view the items making up the order:<br/>
<img src = "images/ob_order_details.png"><br/>
(See the `orderDetails` object on the [Create Payment](ob_createpayment.html#create-payment-endpoint) endpoint for more on this).
1. The user selects the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.aspsp}}">ASPSP</a> in which his/her account is held (Revolut for example) and is redirected to the bank's logon page (or optionally the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> selects the bank and clicks **Continue**, if you have decided to configure a Confirmation page - see the following section for more on this).<br/>
<img src = "images/ob_redirect.png">
1. The user then authenticates on to the selected <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.aspsp}}">ASPSP</a> (Revolut in this example):
<img src="images/ob_sign_in.png">
1. Once authenticated with the bank, the user can choose to **Authorise** the payment:
<img src ="images/ob_authorise.png">
1. Once authorised, the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> is redirected to the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.nupay_tpp}}">Nuapay TPP</a> with a confirmation message:
<img src="images/ob_success.png">
1. The pop-up closes (either the user clicks **Close** or it closes automatically after 30 seconds) and the user is redirected to the merchant payment page, with a confirmation message.

## Configuring a Confirmation Screen

Some merchants like the Open Banking payment user experience to be as fast as possible: 

The <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a>:
1. Selects the required <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.aspsp}}">ASPSP</a>.
1. Logs on to his/her bank.
1. Authorises the payment and is  redirected to a success page. 

Friction is limited and the user can completed the payment in seconds.

However in some cases a little friction isn't all bad! Especially where users may be new to the payment method, it can be good to slow things down a little. 
With this in mind, rather than provide only the 3 steps above, you can configure the flow to have an additional confirmation page. 

{% include note.html content="If you want to offer QR Code functionality to your PSUs then the Confirmation page must be enabled." %}

With this additional page added:

1. <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSUs</a> select the required <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.aspsp}}">ASPSP</a>.
1. The selected bank details are then displayed on a confirmation screen:
<img src = "images/ob_qrcode.png">
1. Users are informed that they  must log on to their bank.
1. A QR Code is also presented; users may: 
   * Scan the code to complete the bank authentication and payment authorisation steps on a mobile device (see the following section for more on this).
   * Click **Continue on this Device** to complete the payment on the desktop. 
   * Click **Go Back** to choose a different bank.

If you think that you would like to include the confirmation screen in your flow, please inform your Account Manager and we will be happy to configure this for you.

{% include callout.html content="On successful completion of this payment flow your customer has provided his/her consent for the payment to be collected for the selected account. The actual funds transfer to your account may happen within a matter of seconds or it may be processed on the following business day. The speed with which funds are transferred to your account is controlled by your customers' banks and is determined by the default payment scheme they are using. A scheme like SEPA CT Instant (for Euro payments) or Faster Payments (for GBP payments) will result in funds being credited to your account within seconds. Schemes like SEPA CT and BACS Credit will generally take a business day to process. Nuapay uses the [Payment Received Webhook](ob_whreceived.html) to notify you when funds are settled to your Nuapay account (Note: only available if you are using a Nuapay account)." type="primary" %}


## QR Code Functionality

{% include tip.html content="This functionality is not currently available on the Sandbox or Live environments. The feature will be available on the Sandbox from the end of January 2021 and on the Live environment from early February 2021. " %}

Why a QR Code?

* When working on a desktop and accessing online banking, it can be tedious for users to authenticate themselves. 
* Typically banks will issue a unique code and then request a password or specific characters from that password. 
* To avoid this, it is possible for <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSUs</a> to use a mobile device for both the authentication and payment approval steps: users scan the QR code on their device to launch their mobile banking app. 
* Using a mobile device allows users to take advantage of biometric authentication: so instead of having to type codes and passwords, face recognition or a fingerprint scan is all that is required.

The QR code will only be displayed where:

* The [Confirmation Page](#configuring-a-confirmation-screen) has been enabled.
* The <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> is accessing the service on a desktop device (the QR Code is not displayed on other devices).

To use the feature:

1. The <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> selects to pay via Open Banking and selects a bank.
1. The confirmation screen is displayed with a QR Code.
1. The user scans the code:
<img src = "images/ob_qr_scanning.png">
1. The user's online banking app is launched (via Mobile Deep Linking), where the user has a mobile banking app installed on his/her device.
1. The desktop displays an In-Progress overlay while the user completes the authentication and authorisation on the mobile device.
1. Once the payment is authorised on the mobile device, the <a href="#" data-toggle="tooltip" data-original-title="{{site.data.glossary.psu}}">PSU</a> is automatically logged out of the ASPSP on the mobile device and the Success page is displayed on the desktop. 

{% include links.html %}
