<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nuapay Developer Hub Home Page</title>

    <!-- Bootstrap core CSS -->
  <!--  <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>

       <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
           <!-- <h1 class="display-3 text-center text-white mt-4">New | Nouveau | Neu | Nuevo | 新しい | Nua </h1>
              <h2 class="display-3 text-center text-white mt-4">NUAPAY | Developer Hub </h2>-->
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">Welcome</h2>
            <p>Welcome to the Nuapay Developer Hub! </p>
              <p> Check out Nuapay’s award winning payment APIs and webhooks covering Open banking, Direct Debits and Bank Transfers, discover  how easy it is to integrate our powerful solutions into your applications, eliminate the need to download payment files from your applications or upload them to your bank, by connecting your back office systems directly to a world-leading payments platform.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="prod_overview.html">See our Product Overview &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>Nuapay | Sentenial</strong>
            <br>Unit F16, Maynooth Business Campus
            <br>Straffan Road,
            <br>Maynooth, Co. Kildare Ireland
              <br>W23 DD86
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            00 353 (0)1 9012309
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:api.support@nuapay.com">api.support@nuapay.com</a>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
              <a href="https://www.nuapay.com/en/request-api-sandbox/" target='_blank' class = 'noCrossRef'><img class="card-img-top" src="images/card1.png" alt="Sandbox"></a>
            <div class="card-body">
              <h4 class="card-title">Sandbox Access</h4>
              <p class="card-text">Before you can get your hands dirty, you'll need to request Sandbox acces. Please complete the online form. </p>
            </div>
            <div class="card-footer">
              <a href="https://www.nuapay.com/en/request-api-sandbox/" class="btn btn-primary" target ="_blank">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
              <a href="news.html"> <img class="card-img-top" src="images/card2.png" alt="News"></a>
            <div class="card-body">
              <h4 class="card-title">News</h4>
              <p class="card-text">We've been working closely with some new payment partners recently. Read more about it in the News section.</p>
            </div>
            <div class="card-footer">
              <a href="news.html" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
              <a href="https://github.com/sentenial" target='_blank' class = 'noCrossRef'><img class="card-img-top" src="images/card3.png" alt="Swagger"></a>
            <div class="card-body">
              <h4 class="card-title">Swagger/Open API</h4>
              <p class="card-text">Think you have a good handle on the business side, want to get to work and into the coding, check out our Github pages. </p>
            </div>
            <div class="card-footer">
              <a href="https://github.com/sentenial" class="btn btn-primary" target ='_blank'>Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{ site.time | date: '%Y' }} Nuapay | Sentenial  </p>

      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


  </body>

</html>
