<p>The following are the possible HTTP Codes that may be returned in response to your API requests.</p>

<div class="datatable-begin"></div>

 HTTP Code      | Meaning                           |  Details                
----------------| ------------------------------    | ------------------            
200             | OK                                | The request completed successfully.                               
201             | Created                           | A new resource has been created successfully. The resource is appended to the response. 
400             | Bad Request                       | The request was malformed. The response body will include an error providing further information (see the Error Codes section below).
401             | Unauthorized                      | There is an issue with your API key. Have you specified Authorization as Basic and in encoded in Base64? See <a href= "np_secapikeyauth.html">here</a>.
403             | Forbidden                         | A valid Authentication header has been provided but it does not have permission to access the requested resource.
404             | Not Found                         | The requested resource does not exist.
405             | Method Not Allowed                | The HTTP method being requested is not allowed for this specific service.
410             | Gone                              | The API being requested has been removed from our servers.
412             | Precondition Failed               | A conditions has not been met to process the request; this might happen where a timestamp provided is too old, for example.
415             | Unsupported Media Type            | An incorrect content type has been provided as part of a request (e.g. something other than "application/json").
422             | Unprocessable Entity              | Returned in the response where there are validation errors. More details will be provided in response body (see the Error Codes section below).
500             | Internal Server Error             | There is a problem with our server. Try again later and if the problem persists contact the Nuapay application support team.
501             | Not Implemented                   | This response will be returned where a service has not yet been developed or published.
503             | Service Unavailable               | We're temporarially offline for maintanance. Please try again later.


<div class="datatable-end"></div>
