<center>
<table>
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/comdirect.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Comdirect</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/commerzbank.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Commerzbank</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/Deutsche.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Deutsche Bank</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/be/svg/ing.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> ING </td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/postbank.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Post Bank</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/Sparkassen.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Sparkassen</td>

                </tr>

                <tr>


                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/unicredit.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> UniCredit Hypovereinsbank </td>

                <td> </td>
                <td> </td>

                <td> </td>
                <td> </td>



                </tr>


</table>
</center>
