<center>
<table class= "obOverviewTable">
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/andbank.jpg" height="40" width="40"/>
                </svg>
                </td>
                <td> ANDBANK</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/arquia.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Arquia</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/bancamarch.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Banca March</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/banca_mediolanum.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Banco Mediolanum</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/main_pichincha.svg" height="40" width="40"/>
                  </svg>
                </td>

                <td>Banco Pichincha</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/bankia.svg" height="40" width="40"/>
                  </svg>

                </td>

                <td>Bankia</td>

                </tr>
<!-- -->
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/bankinter.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Bankinter</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/bankoa.svg" height="40" width="40"/>
                  </svg>
                </td>

                <td>Bankoa</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/be/svg/bbva.svg" height="40" width="40"/>
                  </svg>

                </td>

                <td>BBVA</td>
                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/caixabank.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>CaixaBank</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/Cajamar.svg" height="40" width="40"/>
                  </svg>
                </td>

                <td>Cajamar</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/cajasur.svg" height="40" width="40"/>
                  </svg>

                </td>

                <td>Cajasur</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/es/svg/colonya.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Colonya</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/eurocaja_rural.svg" height="40" width="40"/>
                  </svg>
                </td>

                <td>Eurocaja Rural</td>

                <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/logo_evo.svg" height="40" width="40"/>
                  </svg>

                </td>

                <td>EVO Banco</td>

                </tr>

                <tr>

                  <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/es/svg/fiarebancaetica.jpg" height="40" width="40"/>
                  </svg>
                  </td>
                  <td>Fiare Bancaetica</td>

                  <td>
                    <svg width="40" height="40"
                      xmlns="http://www.w3.org/2000/svg">
                      <image href="https://static.nuapay.com/ob/banks/es/svg/ibercaja.svg" height="40" width="40"/>
                    </svg>
                  </td>

                  <td>iberCaja</td>

                  <td>
                  <svg width="40" height="40"
                    xmlns="http://www.w3.org/2000/svg">
                    <image href="https://static.nuapay.com/ob/banks/be/svg/ing.svg" height="40" width="40"/>
                  </svg>
                  </td>
                  <td> ING </td>

                  </tr>

                  <tr>

                  <td>
                    <svg width="40" height="40"
                      xmlns="http://www.w3.org/2000/svg">
                      <image href="https://static.nuapay.com/ob/banks/es/svg/logo_inversis.svg" height="40" width="40"/>
                    </svg>

                  </td>

                  <td>Inversis</td>

                    <td>
                    <svg width="40" height="40"
                      xmlns="http://www.w3.org/2000/svg">
                      <image href="https://static.nuapay.com/ob/banks/es/svg/kutxabank.svg" height="40" width="40"/>
                    </svg>
                    </td>
                    <td>Kutxabank</td>

                    <td>
                      <svg width="40" height="40"
                        xmlns="http://www.w3.org/2000/svg">
                        <image href="https://static.nuapay.com/ob/banks/es/svg/laboral-kutxa.svg" height="40" width="40"/>
                      </svg>
                    </td>

                    <td>Laboral Kutxa</td>

                    </tr>

                    <tr>

                    <td>
                      <svg width="40" height="40"
                        xmlns="http://www.w3.org/2000/svg">
                        <image href="https://static.nuapay.com/ob/banks/es/svg/openbank.svg" height="40" width="40"/>
                      </svg>

                    </td>

                    <td>Open Bank</td>


                      <td>
                      <svg width="40" height="40"
                        xmlns="http://www.w3.org/2000/svg">
                        <image href="https://static.nuapay.com/ob/banks/es/svg/renta4banco.svg" height="40" width="40"/>
                      </svg>
                      </td>
                      <td>Renta 4 Banco</td>

                      <td>
                      <svg width="40" height="40"
                        xmlns="http://www.w3.org/2000/svg">
                        <image href="https://static.nuapay.com/ob/banks/uk/svg/revolut.svg" height="40" width="40"/>
                      </svg>
                      </td>
                      <td> Revolut </td>

                      </tr>

                      <tr>

                      <td>
                        <svg width="40" height="40"
                          xmlns="http://www.w3.org/2000/svg">
                          <image href="https://static.nuapay.com/ob/banks/es/svg/sabadell.svg" height="40" width="40"/>
                        </svg>
                      </td>

                      <td>Sabadell</td>


                      <td>
                        <svg width="40" height="40"
                          xmlns="http://www.w3.org/2000/svg">
                          <image href="https://static.nuapay.com/ob/banks/es/svg/santander-es.svg" height="40" width="40"/>
                        </svg>

                      </td>

                      <td>Santander</td>


                        <td>
                        <svg width="40" height="40"
                          xmlns="http://www.w3.org/2000/svg">
                          <image href="https://static.nuapay.com/ob/banks/es/svg/selfbank.jpg" height="40" width="40"/>
                        </svg>
                        </td>
                        <td>Self Bank</td>

                        </tr>

                        <tr>

                        <td>
                          <svg width="40" height="40"
                            xmlns="http://www.w3.org/2000/svg">
                            <image href="https://static.nuapay.com/ob/banks/es/svg/unicaja-banco.svg" height="40" width="40"/>
                          </svg>
                        </td>

                        <td>UniCaja</td>

                        <td> </td>

                        <td> </td>

                        <td> </td>

                        <td> </td>

</tr>

</table>
</center>
