<center>
<table>
<tr>

<td>
<svg width="40" height="40"
  xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/credit-mutuel-arkea.svg" height="40" width="40"/>
</svg>
</td>
<td>Allianz Banque<br>Arkea Banking Services<br>Arkea Banque Entreprises<br>Arkea Banque Privee<br>Arkea BPE
<br>Arkea Fortuneo<br>Arkea Max<br>
</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/bnp-paribas.svg" height="40" width="40"/>
</svg>
</td>
<td>Bnp-maBanque</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/boursorama.svg" height="40" width="40"/>
</svg>
</td>
<td>Boursorama</td>

</tr>

<tr>

<td>
<svg width="40" height="40"
  xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/banque_populaire.svg" height="40" width="40"/>
</svg>
</td>
<td>Banque Populaire</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/credit-agricole.svg" height="40" width="40"/>
</svg>
</td>
<td>Crédit Agricole</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/Caisse_dEpargne.svg" height="40" width="40"/>
</svg>
</td>
<td>Caisse D'Epargne</td>

</tr>

<tr>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/cic.svg" height="40" width="40"/>
</svg>
</td>
<td>CIC</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/credit-cooperatif.svg" height="40" width="40"/>
</svg>
</td>
<td>Credit Cooperatif</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/credit-mutuel.svg" height="40" width="40"/>
</svg>
</td>
<td>Credit Mutuel</td>

</tr>

<tr>

<td>
<svg width="40" height="40"
  xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/bnp-hello.svg" height="40" width="40"/>
</svg>
</td>
<td>Hello Bank - France</td>

<td>
<svg width="40" height="40"
  xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/la-banque-postale.svg" height="40" width="40"/>
</svg>
</td>
<td>La Banque Postale</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/lcl.svg" height="40" width="40"/>
</svg>
</td>
<td>LCL</td>

</tr>

<tr>

<td>
<svg width="40" height="40"
  xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/natixis.svg" height="40" width="40"/>
</svg>
</td>
<td>Natixis Trade</td>

<td>
<svg width="40" height="40"
xmlns="http://www.w3.org/2000/svg"><image href="https://static.nuapay.com/ob/banks/fr/svg/socite-general.svg" height="40" width="40"/>
</svg>
</td>
<td>Societe Generale</td>

<td> </td>
<td> </td>



</tr>


</table>
</center>
