<center>
<table class= "obOverviewTable">
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://upload.wikimedia.org/wikipedia/commons/6/64/Poste_italiane_logo.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> BancoPosta/ <br> Poste Italiane </td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/revolut.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Revolut </td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/de/svg/unicredit.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Unicredit spA</td>


              </tr>


</table>
</center>
