<center>
<table>
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/aib.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> AIB Corporate <br> AIB Ireland</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/boi.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Bank Of Ireland Business <br> Bank Of Ireland</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/ie/svg/ebs.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> EBS</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://www.permanenttsb.ie/globalassets/permanent-tsb-bank.png" height="40" width="40"/>
                </svg>
                </td>
                <td> Permanent TSB </td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/revolut.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Revolut </td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/ulster.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Ulster</td>

                </tr>


</table>
</center>
