<center>
<table class= "obOverviewTable">
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/be/svg/asn.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> ASN Bank</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/be/svg/ing.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> ING </td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/be/svg/rabobank.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Rabo Bank</td>

                </tr>
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/fr/svg/regiobank.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Regio Bank</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/revolut.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Revolut </td>


                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://upload.wikimedia.org/wikipedia/en/d/db/De_Volksbank_logo.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Volksbank-SNS</td>              


                </tr>


</table>
</center>
