<center>
<table class= "obOverviewTable">
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/aib.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>AIB Business <br/> AIB UK Personal</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/boi.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Bank Of Ireland <br/> Bank Of Ireland Business</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/bos.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Bank Of Scotland <br/> Bank of Scotland Business <br/> Bank of Scotland Commercial</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/barclays.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Barclaycard Commercial <br/> Barclays Business <br/> Barclays Corporate <br/> Barclays Personal <br/> Barclays Wealth</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/clydesdale.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Clydesdale</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/danske.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> Danske</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/first-direct.svg" height="40" width="40"/>
                </svg>
                </td>
                <td> First Direct</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/halifax.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Halifax</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/hsbc.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>HSBC Business<br/>HSBC Personal</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/llyods.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Lloyds Business<br/>Lloyds Commercial<br/>Lloyds Personal</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/mas.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Marks and Spencer</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/monzo.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Monzo</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/nationwide.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Nationwide</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/natwest.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Natwest <br/>Natwest Corporate</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/rbs.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>RBS</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/revolut.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Revolut</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/santander.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Santander</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/tesco.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Tesco</td>

                </tr>

                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/tideplatform.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Tide Platform Ltd</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/transferwise.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>TransferWise</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/tsb.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>TSB</td>

                </tr>
                <tr>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/ulster.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Ulster</td>

                <td>
                <svg width="40" height="40"
                  xmlns="http://www.w3.org/2000/svg">
                  <image href="https://static.nuapay.com/ob/banks/uk/svg/yorkshire.svg" height="40" width="40"/>
                </svg>
                </td>
                <td>Yorkshire</td>

                <td> </td>
                <td> </td>



                </tr>


</table>
</center>
