{{site.data.alerts.note}}
<p>When working with this API, please use the Sandbox URI when testing and the Live URI when you move to Production. </p>
<pre>
LIVE &nbsp;&nbsp;&nbsp;&nbsp;https://api.nuapay.com/
SANDBOX &nbsp;https://sandbox.nuapay.com/
</pre>
<p>If you haven't done so already and would like to do some testing, please <a href="https://www.nuapay.com/en/request-api-sandbox" target="_blank">Request Sandbox Access</a></p>
<hr/>
<p><b>Important</b>: Endpoints may be extended from time to time and any changes we make will follow our <a href="prod_versioning.html">Versioning and Backward Compatibility</a> rules. This means that the code that you write today must be designed to be robust enough to handle any future changes (where a new object is added to (or removed from) a specific API response, for example).</p>
{{site.data.alerts.end}}

