---
title: Shuffle layout
tags: [special_layouts]
last_updated: November 30, 2015
keywords: shuffle, card layout, dynamic grid, doc portal, support portal
summary: "This layout shows an example of a knowledge-base style navigation system, where there is no hierarchy, just groups of pages that have certain tags."
permalink: np_createmandate_shuffle.html
sidebar: mydoc_sidebar
folder: mydoc
---



{% if site.output == "pdf" %}
{{site.data.alerts.note}} The content on this page doesn't display well on PDF, but I included it anyway so you could see the problems this layout poses if you're including it in PDF.  {{site.data.alerts.end}}
{% endif %}

{% unless site.output == "pdf" %}
<script src="js/jquery.shuffle.min.js"></script>
<script src="js/jquery.ba-throttle-debounce.min.js"></script>
{% endunless %}

      <div class="filter-options">
     
      <button class="btn btn-primary" data-group="request">JWS Header</button>
      <button class="btn btn-primary" data-group="required">JWS Payload</button>
      <button class="btn btn-primary" data-group="response">Private Key</button>
       <button class="btn btn-primary" data-group="all">All</button>
      
    </div>      

<div id="grid" class="row">


    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["request"]'>

               <div class="panel panel-default">
               <div class="panel-heading">JWS Header</div>
               <div class="panel-body">
                  Edit the "kid", "iat" and "iss" <br><br>
                   <form action="/action_page.php">
                kid:<br>
                <input type="text" name="firstname" value="Mickey">
                <br>
                iat:<br>
                <input type="text" name="lastname" value="Mouse">
                <br>
                iss:<br>
                <input type="text" name="lastname" value="Mouse">
            <br><br>
                   
                  <b>kid</b>: must match your certificate serial number <br>
                  <b>iat</b>: must contain the current datetime (the milliseconds since Unix Epoch) <br>
                  <b>iss</b>: must match the subject on your certificate <br>
                  
           
  
</form> 
               </div>
            </div>
    
    </div>
    
    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["required"]'>

               <div class="panel panel-default">
               <div class="panel-heading">JWS Payload</div>
               <div class="panel-body">
                  Paste your HTTP request:<br>
                 <form action="/action_page.php">
                     <input type="text" style="height:310px" name="JSON" value="Paste your JSON here..." align ="top">
                   </form>
                
               </div>
            </div>
    
    </div>
    
   
    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["response"]'>

                <div class="panel panel-default">
               <div class="panel-heading">Private Key</div>
               <div class="panel-body">
                 Paste your Private Key:	 
                <form action="/action_page.php">
                     <input type="text" style="height:310px" name="Private Key" value="Paste your key here..." align ="top">
                   </form>
               </div>
            </div>

    </div>

  

      

    </div>

       
          <!-- sizer -->
      <div class="col-xs-6 col-sm-4 col-md-1 shuffle_sizer"></div>          


    </div><!-- /#grid -->

{% unless site.output == "pdf" %}
{% include initialize_shuffle.html %}
{% endunless %}

{{site.data.alerts.note}} This was mostly an experiment to see if I could break away from the hierarchical TOC and provide a different way of arranging the content. However, this layout is somewhat problematic because it doesn't allow you to browse other navigation options on the side while viewing a topic.{{site.data.alerts.end}}

