---
title: Account Holder Verification
keywords: Account Owner Holder Verification
sidebar: ver_sidebar
toc: false
permalink: ver_landing_page.html
folder: prodVerification
---

<div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Introduction</h2>
            <p>Account Holder Verification allows you to leverage the power of Open Banking Account Information Service to verify if user details, held by you, match the account details stored at the user's bank.</p>

            {% include tip.html content="Want to start testing? See the <a href='prod_overview.html'> Getting Started </a> section to request an API Key for the Nuapay Sandbox." %}

            <p>Open Banking Account Information Service (AIS) allows merchants, via the Nuapay TPP, to verify account ownership of individuals. The solution has been designed to be flexible enough to be used for various use cases. </p>
            <p> For example:<p>
              <ul>
              <li> A merchant may want to issue a payout (via the <a href= "np_createctandbene.html">Create Credit Transfer & Beneficiary</a> API) but first wants to confirm that the customer name that the merchant holds is the same as the account name into which the payment will be made. </li>
              <li> If the user is Tommy Smith, for example, the merchant can use the Verification service to request the user to grant consent to view account details at his bank.</li>
              <li> If the account holder name returned by the bank is Thomas Smith, the name matching algorithm will result in a 100% match, so the merchant can be confident that the payment that is about to be made is going to go to the correct beneficiary</li>
              </ul>

              {% include note.html content="Name matching will return a match score; 100% is used for exact or very close matches. Merchants will need to determine what scores are acceptable and will need to determine the risk and value of transaction when deciding on how to proceed where the verification matching score is less than 100%" %}

        </div>
</div>

<p>Customer verification is a 2-step process:</p>
<ul>
<li>Request the Customer consent to retrieve account details from the bank.</li>
<li>Using the retrieved account details, calculate a verification score against data that the client already holds (i.e., the customer’s name).
Currently the matching is carried out only on the customer’s name.</li>
</ul>
